body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(90deg, rgba(76,127,237,1) 38%, rgba(255,0,205,0.9880297371510709) 77%);
}

button {
  cursor: pointer;
}